In [1]:
import os
import csv
import pandas as pd

In [2]:
# Add a variable to load a file from a path.
file_to_load = os.path.join("Resources", "election_results.csv")

In [3]:
# Read the csv and convert it into a list of dictionaries
PyPoll_df = pd.read_csv(file_to_load)
PyPoll_df

        Ballot ID     County                Candidate
0         1323913  Jefferson  Charles Casper Stockham
1         1005842  Jefferson  Charles Casper Stockham
2         1880345  Jefferson  Charles Casper Stockham
3         1600337  Jefferson  Charles Casper Stockham
4         1835994  Jefferson  Charles Casper Stockham
...           ...        ...                      ...
369706    4714953   Arapahoe     Raymon Anthony Doane
369707    4497542   Arapahoe     Raymon Anthony Doane
369708    4085849   Arapahoe     Raymon Anthony Doane
369709    4592018   Arapahoe     Raymon Anthony Doane
369710    4660518   Arapahoe     Raymon Anthony Doane

[369711 rows x 3 columns]

In [4]:
# Setting the index to the Ballot ID
PyPoll_dfnew = PyPoll_df.set_index("Ballot ID")
PyPoll_dfnew

              County                Candidate
Ballot ID
1323913    Jefferson  Charles Casper Stockham
1005842    Jefferson  Charles Casper Stockham
1880345    Jefferson  Charles Casper Stockham
1600337    Jefferson  Charles Casper Stockham
1835994    Jefferson  Charles Casper Stockham
...              ...                      ...
4714953     Arapahoe     Raymon Anthony Doane
4497542     Arapahoe     Raymon Anthony Doane
4085849     Arapahoe     Raymon Anthony Doane
4592018     Arapahoe     Raymon Anthony Doane
4660518     Arapahoe     Raymon Anthony Doane

[369711 rows x 2 columns]

# Election Audit Results

## How many votes were cast in this congressional election?

Using the **count** function in our dataframe for the **"Candidate"** column we can extract that information in just one line of code:

In [22]:
total_votes = PyPoll_dfnew["Candidate"].count()

print(f"Total Votes: {total_votes:,}")

Total Votes: 369,711

## Provide a breakdown of the number of votes and the percentage of total votes for each county in the precinct.

Using **groupby** function we can easily determine the number of votes for every state:

In [14]:
grouped_county_PyPoll_df = PyPoll_dfnew.groupby(["County"])

grouped_county_PyPoll_df.count()

           Candidate
County
Arapahoe       24801
Denver        306055
Jefferson      38855

## Which county had the largest number of votes?

Now, to easily get the county with the largest number of votes, we use the function **sort_values** with a parameter of **ascending = false** to sort our values from highest to lowest:

In [15]:
votes_counties = grouped_county_PyPoll_df.count()
sorted_counties = votes_counties.sort_values("Candidate", ascending = False)
sorted_counties

           Candidate
County
Denver        306055
Jefferson      38855
Arapahoe       24801

## Provide a breakdown of the number of votes and the percentage of the total votes each candidate received.

As well as with the counties, we use **groupby** to get the number of votes for each candidate:

In [16]:
grouped_candidate_PyPoll_df = PyPoll_dfnew.groupby(["Candidate"])

grouped_candidate_PyPoll_df.count()

                         County
Candidate
Charles Casper Stockham   85213
Diana DeGette            272892
Raymon Anthony Doane      11606

## Which candidate won the election, what was their vote count, and what was their percentage of the total votes?

Finally, to get our Winner, we are going to use the same method of **groupby** and **sort_values** to get the list from highest to lowest count of votes:

In [18]:
votes_candidates = grouped_candidate_PyPoll_df.count()
sorted_candidates = votes_candidates.sort_values("County", ascending = False)
sorted_candidates

                         County
Candidate
Diana DeGette            272892
Charles Casper Stockham   85213
Raymon Anthony Doane      11606